#content {
	width: 800px;
	text-align: center;
	margin: 15px auto;
}

span, div:not(#content) {
	text-align: left;
}

.ui-accordion-content {
	margin-bottom: 10px;
}

#buyButton {
	padding: 15px 50px;
	font-size: 1.3em;
}

#printButton, #resetButton, #resetForm {
	display: inline-block;
}

#resetButton {
	margin-left: 150px;
}

.userVal {
	padding-left: 30px;
}

.ui-icon-pencil, .ui-icon-cancel {
	margin: 0 0 0 10px;
	padding: 0;
	display: inline-block;
	
	cursor: pointer;
}

.ui-icon-cancel {
	margin-left: 200px;
}

@media print {
	.noPrint {
		display: none;
	}
}
