/**
 * 	Stylesheet for billing page
 */

#container {
	width: 750px;
	margin: 3% auto 0 auto;
	text-align: center;
}

input[type=submit] {
	/*display: block;*/
	
	margin: 4% auto;
	text-align: center;
}

#fNameContainer, #ccContainer {
	margin-right: 3%;
}

#ccContainer, #ccExpDateContainer {
	margin-top: 4%;
}

.userInput {
	width: 47%;
	display: inline-block;
	text-align: left;
}

input[type=text], input[type=number], input[type=date] {
	padding: 2px 5px;
}

input[type=text]:valid, input[type=number]:valid, input[type=date]:valid {
	border-color: green;
}

.userInput label {
	/*margin-right: 10px;*/
	/*padding-bottom: 15px;*/
	/*text-align: left;*/
	position: relative;
	bottom: 6px;
	left: 6px;
}

.error, div.invalid {
	font-size: .8em;
	margin-bottom: 5px;
	margin-left: 6px;
}

.name {
	width: 150px;
}

#fName, #ccNum {
	margin-right: 20px;
}

.ccExp {
	padding-right: 0;
}

#expMonth {
	margin-right: 5px;
}

#expYear {
	margin-left: 5px;
}

div.invalid[for=expYear] {
	/*display: inline;*/
}

div.invalid {
	margin-bottom: 8px;
}
