/**
 * 	Generic stylesheet
 */

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1em;
}

h1, h2 {
	margin: 0 auto;
	text-align: center;
}

select, option, input[type=text], input[type=date], input[type=number] {
	font-size: 1em;
}

.error, div.invalid {
	color: red;
}

/**
 * 	JQuery UI styling
 */

.ui-selecting { 
	background-color: #FECA40; 
}

.ui-selected { 
	background-color: #F39814;
}

input[type=text].invalid, select.invalid {
	box-shadow: 0 0 0.4em red, 0 0 0.3em red;
}

input[type=text].valid, select.valid {
	box-shadow: 0 0 0.4em green, 0 0 0.3em green;
}

footer {
	text-align: center;
	margin: 0 auto;
}
